<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vue Basics</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet"/>
		<link rel="stylesheet" href="styles.css" />
		<script src="https://unpkg.com/vue@next" defer></script>
		<script src="app.js" defer></script>
	</head>
	<body>
		<header>
			<h1>Monster Slayer</h1>
		</header>
		<div id="game">
			<section id="monster" class="container">
				<h2>Monster Health</h2>
				<div class="healthbar">
					<!-- show monster health in percent using computed field -->
					<div class="healthbar__value" :style="monsterBarStyles"></div>
				</div>
			</section>
			<section id="player" class="container">
				<h2>Your Health</h2>
				<div class="healthbar">
					<!-- show player health in percent using computed field -->
					<div class="healthbar__value" :style="playerBarStyles"></div>
				</div>
			</section>
			<!-- to handle the game ending event whenever player or monster or both die! -->
			<section v-if="winner" class="container">
				<h2>Game Over!</h2>
				<h2 v-if="winner == 'monster'">You Lost!</h2>
				<h2 v-else-if="winner == 'player'">You Won!</h2>
				<h2 v-else>It's a draw!</h2>
				<button @click="startGame()">new Game</button>
			</section>
			<section id="controls" v-else>
				<!-- to attack monster the following buttons is used -->
				<button @click="attackMonster()">ATTACK</button>
				<!-- to do a harder attack on monster - enables every 3 round -->
				<button :disabled="mayUseSpecialAttack" @click="specialAttackMonster()">SPECIAL ATTACK</button>
				<button @click="healPlayer()">HEAL</button>
				<button @click="surrender()">SURRENDER</button>
			</section>
			<!-- render log messages with corresponding classes -->
			<section id="log" class="container">
				<h2>Battle Log</h2>
				<ul>
					<li v-for="log in logMessages">
						<!-- choose color of who does the action -->
						<span :class="{'log--player' : log.actionBy == 'player', 'log--monster' : log.actionBy == 'monster'}">
							{{ log.actionBy }} 
						</span>
						<!-- choose type of action (heal or attack) -->
						<span v-if="log.actionType == 'heal'">
							heals himself for
							<span class="log--heal">{{ log.actionValue }}</span>
						</span>
						<!-- attack type -->
						<span v-else>
							{{' '+log.actionType}}s and deals
							<span class="log--damage">
								{{ log.actionValue }}
							</span>
						</span>
					</li>
				</ul>
			</section>
		</div>
	</body>
</html>
